.pagination {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  padding: 5px 5px;
  align-items: center;
  background: #ffffff;
  border-top: 1px solid #eaecf0;
  border-radius: 0 0 3px 3px;
}
.pagination .buttons {
  border: 1px solid #ccc;
  color: var(--primary-color);
  border-left: none;
  border-right: 1px solid #ccc;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #6e757d;
  background-color: #ffffff;
}
.pagination .buttons:disabled {
  color: #aaa;
  cursor: not-allowed;
}
.pagination .buttons:nth-child(2) {
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}
.pagination .buttons:nth-last-child(2) {
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}
.pagination .number_rows {
  color: #aaa;
  font-style: italic;
  margin-left: 15px;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 15px;
}

.pagination .initial {
  width: auto;
  margin: 0 2.5px;
  padding: 0 10px;
  border-radius: 3px;
  border: 1px solid #ccc;
}

.pagination .current {
  color: #fff;
  background-color: #50555a;
}

.pagination .pageDetail {
  margin: 0 5px;
  margin-left: auto;
}

.pagination .pageSetting {
  font-size: 12px;
  margin: 0 5px;
}

.pagination .pageTotal {
  width: auto;
  text-align: center;
  font-size: 14px;
  border-radius: 4px;
  background-color: var(--primary-color);
  line-height: 38px;
  margin-right: 15px;
  cursor: pointer;
  border: none;
  background-color: #ffffff;
  color: #6e757d;
  border: 1px solid #dadde1;
  border-radius: 4px;
}

.pagination .rows {
  display: flex;
  flex-wrap: nowrap;
}
.pagination .rows .row {
  border: 1px solid #ccc;
  border-left: none;
  border-right: 1px solid #ccc;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #6e757d;
  background-color: #ffffff;
}
.pagination .rows .row:nth-child(1) {
  border-left: 1px solid #ccc;
  border-radius: 3px 0 0 3px;
}
.pagination .rows .row:nth-last-child(1) {
  border-left: 1px solid #ccc;
  border-radius: 0 3px 3px 0;
}
.pagination .rows .selected {
  color: #fff;
  background-color: #50555a;
}
